{% macro cards(exercises) %}
{% for exercise in exercises %}
<form action="/homepage/delete" method="post">
	<div class="card  align-self-center d-flex " style=" background-color: #d8f0f5fa">
		<div class="card-body ">
			<h5 class="card-title">Exercise Number:{{exercise.id}}</h5>
			<h6 class="card-subtitle mb-2 text-muted"> <strong>Main Task:</strong>&nbsp{{exercise.taskName}}</h6>
			<h6 class="card-subtitle mb-2 text-muted"><strong> SubTask:</strong>&nbsp{{exercise.subTaskName}}</h6>
			<h6 class="card-subtitle mb-2 text-muted"><strong>Number of rounds:</strong>&nbsp{{exercise.roundRange}}</h6>
			<h6 class="card-subtitle mb-2 text-muted"><strong>Time of each round:</strong>&nbsp{{exercise.timeRange}}</h6>
			<h6 class="card-subtitle mb-2 text-muted"><strong>Description:</strong>&nbsp{{exercise.description}}</h6>
            <h6 class="card-subtitle mb-2 text-muted"><strong>Date:</strong>&nbsp{{exercise.date}}</h6>

			<input name="exerciseID" value="{{exercise.id}}" type="hidden"></input>
			<button class="btn bg-danger" type="submit"> Delete </button>
		</div>
	</div>
</form>
{% endfor %}
{% endmacro %}
