{% macro cards(exercises) %}
<div class="container d-flex "style="flex-wrap: wrap ; width: 100vw; justify-content: space-between">
  {% for exercise in exercises %}
  <div style="flex-basis: 45%; margin: 0.5rem 0">
    <form action="/homepage/delete" method="post">
   <div class="fluid rounded-start">
	  <div class="card align-self-center " style="background-color: #d8f0f5fa">
      <div class="card-body ">
    <h5 class="card-title">Exercise Number:{{loop.index}}</h5>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Main Task:</strong>&nbsp{{exercise.taskName}}</li>
        <li class="list-group-item"><strong> SubTask:</strong>&nbsp{{exercise.subTaskName}}</li>
        <li class="list-group-item"><strong>Number of rounds:</strong>&nbsp{{exercise.roundRange}}</li>
        <li class="list-group-item"><strong>Time of each round:</strong>&nbsp{{exercise.timeRange}}</li>
        <li class="list-group-item"><strong>Description:</strong>&nbsp{{exercise.description}}</li>
	    <li class="list-group-item"><strong>Date:</strong>&nbsp{{exercise.date}}</li>
      </ul>
			<input name="exerciseID" value="{{exercise.id}}" type="hidden"></input>
			<button class="btn bg-danger" onclick="return confirm('Are you sure you want to delete this exercise?');" type="submit"> Delete </button>
	  </div>
  </div>
</form>
  </div>

{% endfor %}
</div>
{% endmacro %}