{% macro accordionItem(title) %}
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ title }}" aria-expanded="false" aria-controls="{{ title }}">
					{{ title }}
				</button>
			</h2>

	{% macro accordionItem2(items) %}
			<div id="{{ title }}" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#{{ title }}">
				<div class="accordion-body pt-0 mt-0">
					{% for item in items %}
						<br><button type="button" value="{{ [title, item.value] }}" @click="toggleShowAndSaveExercise($event)" class="btn btn-secondary mb-1">{{ item.value }}</button>
					{% endfor %}
				</div>
			</div>
			<h3>{{ item.value }}</h3>
	{% endmacro %}

	{% macro accordionItem3(id) %}
				<div id="{{ title }}" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#{{ title }}">
					<div class="accordion-body pt-0 mt-0">
						<div>
							<input value="" x-model="newSubTask"/>
							<button class="btn btn-secondary mb-1" @click="SaveNewSubExercise($event,{{id}})" x-bind:disabled="newSubTask===''">Add To Sub Exercises</button>
						</div>
					</div>
				</div>
		</div>
		
	{% endmacro %}
	{% endmacro %}

		
